.form-switch-sm {
  .form-check-input {
    cursor: pointer;
    &:checked {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem var(--input-color-border);
      border-color: var(--input-color-border);
      background-image: red !important;
    }
  }
  .form-check-label {
    cursor: pointer;
    font-size: 14px;
  }
}
