
@keyframes pulse_animation {
    0% {
        box-shadow: 0 0 0 0 var(--primary-color)
    }

    100% {
        box-shadow: 0 0 0 200px rgba(254, 206, 104, 0)
    }
}

#pulse-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pulse-wrapper #pulse {
    margin: auto;
}

#pulse-wrapper #pulse span {
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    animation: pulse_animation 1.3s infinite;
}

#pulse-wrapper #pulse span:nth-child(2) {
    animation-delay: 0.3s;
}